<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging project</title>
</head>
<body>

    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Project</h1></a>
            <p>A Free Blogging project site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi voluptas ducimus odit nesciunt fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi voluptas ducimus odit nesciunt fuga.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nisi voluptas ducimus odit nesciunt fuga.</p>
    </div>
    
</body>
</html>